@{
  Layout = "_Layout";
}

<div class="container">
  <h1 class="jumbotron">CD Organizer</h1>
  <form action="/artists" method="get">
    <button class="btn btn-success">Add a CD Artist</button>
  </form>
</div>
